.cart-wrap {
  position: absolute;
  right: 0;
  top: 50px;
  bottom: 0;
  background-color: #fff;
  width: 360px;
  box-shadow: 0px 0px 0px 0px rgba(170, 170, 170, 1);
  border: 1px solid rgba(187, 187, 187, 1);
  z-index: 10;
  transform: translateX(360px);
  overflow: scroll;
}

.move-left {
  transform: translateX(0);
  transition: all 0.3s;
}

.move-right {
  transform: translateX(360px);
  transition: all 0.3s;
}

.cart-header {
  width: 360px;
  height: 40px;
  line-height: 35px;
  background-color: rgba(238, 78, 91, 1);
  text-align: center;
  color: #fff;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.weight-500 {
  font-weight: 500;
}
.cart-content {
  padding: 20px;
}

.product-wrap {
  overflow: hidden;
  margin-bottom: 20px;
  width: 320px;
  height: 120px;
  line-height: 20px;
  border-radius: 4px;
  background-color: rgba(242, 242, 242, 1);
  color: rgba(16, 16, 16, 1);
  font-size: 14px;
  text-align: center;
  box-shadow: 0px 1px 4px 0px rgba(204, 204, 204, 1);
}
.product-img-wrap {
  width: 120px;
  height: 120px;
}

.product-content-pos {
  width: calc(100% - 120px);
  float: left;
  height: 120px;
}
.product-content-wrap {
  background-color: rgb(239, 239, 239);
  padding: 10px;
  text-align: left;
  position: relative;
  height: 100%;
}

.product-time {
  width: 140px;
  height: 20px;
  line-height: 20px;
  border-radius: 100px;
  background-color: rgba(255, 216, 219, 1);
  color: rgba(238, 78, 91, 1);
  font-size: 12px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0);
}

.product-outTime {
  width: 80px;
  height: 20px;
  line-height: 20px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(153, 153, 153, 1);
  font-size: 12px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0);
  display: inline-block;
}

.product-refund {
  display: inline-block;
  width: 74px;
  height: 30px;
  line-height: 30px;
  border-radius: 100px;
  background-color: rgba(238, 78, 91, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  text-align: center;
  border: 1px solid rgba(238, 78, 91, 1);
}

.product-content-operate {
  position: absolute;
  bottom: 10px;
}

.tab-wrap {
  margin-top: 20px;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  padding-left: 20px;
}

.tab-red {
  color: rgba(238, 78, 91, 1);
}
